{% extends "base.html"%}
{% load crispy_forms_tags %}
{% load urlify %}

{% block head_title%} Details {% endblock head_title%}

{% block content %}

{{object}}
	<div class="col-sm-6 col-sm-offset-3">
	

 
			
  				<p>{{comment.content}}</p>
  				<footer>via {{comment.user}} | {{comment.timestamp|timesince}} ago | {% if comment.children.count > 0%} {{comment.children.count}} Comments {% endif %} {% if request.user == comment.user %}<a href="{{comment.get_delete_url}}">Delete</a>{% endif %}</footer>
  				<hr>
  				<div>
		  			{% for child in comment.children %}
			  			<blockquote>
			  			<p>{{child.content}}</p>
			  			<footer>via {{child.user}} | {{child.timestamp|timesince}} ago | {% if request.user == comment.user %}<a href="{{child.get_delete_url}}">Delete</a>{% endif %}</footer>
			  			</blockquote>
		  			{% endfor %}
	  				
	  				{% if request.user.is_authenticated %}
		  			<form method="POST" action=""> {% csrf_token %}
						{{comment_form|crispy}}
					<input type="hidden" name="parent_id" value="{{comment.id}}">
					<input type="submit" name="" value="Replay" class="btn btn-primary">
					</form>
					{% else %}
					<p>Log in first</p>
					{% endif%}
				</div>
			
			<hr>
	

	</div>
	
{% endblock content %}



