{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block headextra %} {{form.media}}{% endblock %}

{% block head_title%}Create {% endblock head_title%}

{% block content%}
<div class="col-sm-6">
	<h1>
		Preview
	</h1>
	<div class="content-preview">
		<h3 id="preview-title"></h3>
		<p id="preview-content">
			
		</p>
	</div>
</div>
<div class="col-sm-6">
<h1>Form </h1>
	<form method="POST" action="" enctype="multipart/form-data"> {% csrf_token%}
		{{form|crispy}}
		<input class="btn btn-primary" type="submit" name="createPost" value="Create Post">
	</form>
</div>
{% endblock content%}
	
